@import url(./global.css);

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

#btn_batida {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: var(--primaryColor);
    color: white;
    width: auto;
    height: 150px;
}

.notification {
    margin-top: 20px;
    font-size: 16px;
}
