<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Converter | Batida de Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ponto.css') }}">
</head>

<body>
    <div class="container">
        <h1>Registrar Batida de Ponto</h1>
        <button id="btn_batida" onclick="registrarBatida()">Registrar Ponto</button>
        <div id="responseMessage" class="notification"></div>
    </div>

    <script src="{{ url_for('static', filename='js/ponto.js') }}"></script>
</body>

</html>
