<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoConverter | Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/process_ocr.css')}}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-content">
            <ul class="navigation">
                <a href="">
                    <li class="navigation_link">Upload</li>
                </a>
                <a href="">
                    <li class="navigation_link">Registros</li>
                </a>
                <a href="">
                    <li class="navigation_link">Ultimas Consultas</li>
                </a>
                <a href="">
                    <li class="navigation_link">Usuários</li>
                </a>
            </ul>
                <div class="containerdropdown">
                    <div class="circle-perfil"></div>
                    <div class="dropdownMenu">
                        <ul>
                            <a href="">
                                <li class="dropdownLink">Configurações</li>
                            </a>
                            <a href="">
                                <li class="dropdownLink">Preferência</li>
                            </a>
                            <a href="">
                                <li class="dropdownLink">Logout</li>
                            </a>
                        </ul>
                    </div>
                </div>
        </div>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Entrada</th>
                    <th>Início do Intervalo</th>
                    <th>Fim do Intervalo</th>
                    <th>Saída</th>
                    <th>Hora Extra</th>
                </tr>
            </thead>
            <tbody>
                {% for record in ocr_text %}
                <tr>
                    <td>{{ record.data }}</td>
                    <td>{{ record.entrada }}</td>
                    <td>{{ record.inicio_intervalo }}</td>
                    <td>{{ record.fim_intervalo }}</td>
                    <td>{{ record.saida }}</td>
                    <td>{{ record.hora_extra }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <div id="footer-container">
        <footer id="footerdiv">
            <p class="txt_footer">© 2024 AutoConverter, Inc. All rights reserved.</p>
        </footer>
    </div>
    <script src="{{url_for('static', filename='js/global.js')}}"></script>
    <script src="https://kit.fontawesome.com/9744135ed0.js" crossorigin="anonymous"></script>
</body>

</html>