<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoConverter | Ultimas Consultas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/ultimasConsultas.css')}}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-content">
            <ul class="navigation">
                <a href="">
                    <li class="navigation_link">Upload</li>
                </a>
                <a href="">
                    <li class="navigation_link">Registros</li>
                </a>
                <a href="">
                    <li class="navigation_link">Ultimas Consultas</li>
                </a>
                <a href="">
                    <li class="navigation_link">Usuários</li>
                </a>
            </ul>
            <div class="containerdropdown">
                <div class="circle-perfil"></div>
                <div class="dropdownMenu">
                    <ul>
                        <a href="">
                            <li class="dropdownLink">Configurações</li>
                        </a>
                        <a href="">
                            <li class="dropdownLink">Preferência</li>
                        </a>
                        <a href="">
                            <li class="dropdownLink">Logout</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main></main>

    <div id="footer-container">
        <footer id="footerdiv">
            <p class="txt_footer">© 2024 AutoConverter, Inc. All rights reserved.</p>
        </footer>
        <script src="{{url_for('static', filename='js/global.js')}}"></script>
        <script src="https://kit.fontawesome.com/9744135ed0.js" crossorigin="anonymous"></script>
    </div>
</body>

</html>