<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoConverter | Upload</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/upload.css')}}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-content">
                <ul class="navigation">
                    <a href="">
                        <li class="navigation_link">Upload</li>
                    </a>
                    <a href="">
                        <li class="navigation_link">Registros</li>
                    </a>
                    <a href="">
                        <li class="navigation_link">Ultimas Consultas</li>
                    </a>
                    <a href="">
                        <li class="navigation_link">Usuários</li>
                    </a>
                </ul>
                <div class="containerdropdown">
                    <div class="circle-perfil"></div>
                    <div class="dropdownMenu">
                        <ul>
                            <a href="">
                                <li class="dropdownLink">Configurações</li>
                            </a>
                            <a href="">
                                <li class="dropdownLink">Preferência</li>
                            </a>
                            <a href="">
                                <li class="dropdownLink">Logout</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('upload.upload_file_post')}}" enctype="multipart/form-data" method="POST">
            <div class="container-file">
                <input type="file" id="input-file" name="arquivo" accept="application/pdf">
            </div>

            <canvas id="showPDF">

            </canvas>
            <div class="container_btn">
                <button type="submit" id="btn_avancar">Avançar <i class="fa-solid fa-arrow-right"></i></button>
                <button type="button" id="btn_delete">Deletar <i class="fa-solid fa-trash"></i></button>
            </div>
        </form>
    </main>
    <footer id="footer-container">
        <div id="footerdiv">
            <p class="txt_footer">© 2024 AutoConverter, Inc. All rights reserved.</p>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/global.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/upload.js')}}"></script>
    <script src="https://kit.fontawesome.com/9744135ed0.js" crossorigin="anonymous"></script>
</body>

</html>