<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoConverter | Usuarios</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/user_list.css')}}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-content">
                <div class="logo">
                    <img src="{{ url_for('static', filename='assets/logo_dark.png') }}" alt="Logo" class="logo-img">
                </div>

                <ul class="navigation">
                    <a href="{{ url_for('ponto.batida_de_ponto') }}">
                        <li class="navigation_link">Ponto</li>
                    </a>
                    <div class="dropdown">
                        <li class="navigation_link">Cadastros</li>
                        <ul class="dropdown-content">
                            <a href="{{ url_for('empresa.company') }}"><li class="dropdown-item">Empresa</li></a>
                            <a href="{{ url_for('funcionario.page_func') }}"><li class="dropdown-item">Funcionário</li></a>
                            <a href="{{ url_for('userlist.registerUser') }}"><li class="dropdown-item">Usuários</li></a>
                        </ul>
                    </div>
                </ul>

                <div class="containerdropdown">
                    <div class="circle-perfil"></div>
                    <div class="dropdownMenu">
                        <ul>
                            <a href="">
                                <li class="dropdownLink">Configurações</li>
                            </a>
                            <a href="">
                                <li class="dropdownLink">Preferência</li>
                            </a>
                            <a href="{{ url_for('auth.logout') }}">
                                <li class="dropdownLink">Logout</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="user-creation-section">
            <h2>Criar Novo Usuário</h2>
            <form id="createUserForm" method="POST">
                <label for="name">Matricula:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="role">Função:</label>
                <select id="role" name="role" required>
                    <option value="admin">Admin</option>
                    <option value="user">Usuário</option>
                </select>
                <button type="submit">Criar</button>
            </form>
        </section>

        <section class="user-list-section">
            <h2>Lista de Usuários</h2>
            <table>
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Email</th>
                        <th>Data de Criação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id_usuario }}</td>
                        <td>{{ user.email_usuario }}</td>
                        <td>{{ user.data_criacao }}</td>
                        <td>
                            <button id="btn_modify" onclick="modificarUsuario('{{ user.id_usuario }}')"><i class="fa-solid fa-pen"></i></button>
                            <button id="btn_delete" data-user-id="{{ user.id_usuario }}"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <div id="responseMessage" class="notification"></div>
    </main>

    <div id="footer-container">
        <footer id="footerdiv">
            <p class="txt_footer">© 2024 AutoConverter, Inc. All rights reserved.</p>
        </footer>
    </div>

    <script src="{{url_for('static', filename='js/global.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/createUser.js')}}"></script>
    <script src="https://kit.fontawesome.com/9744135ed0.js" crossorigin="anonymous"></script>
</body>

</html>
